@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --color-primary: #facc15;
}

@layer utilities {
  .brutalist-border {
    border: 3px solid black;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  }
  
  .brutalist-border-yellow {
    border: 3px solid #facc15;
    box-shadow: 4px 4px 0px 0px #facc15;
  }

  .brutalist-border-white {
    border: 3px solid white;
    box-shadow: 4px 4px 0px 0px white;
  }
}

/* Custom Hide Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #facc15;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #eab308;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 25s linear infinite;
}

